table{
    width:50%;
    text-align: center;
    border:solid 1px black;
    margin: auto;
    border-collapse:collapse;
}
td,th{
    border:solid 1px black;
}
thead{
    background-color: forestgreen;
    color: aliceblue;
}
tr:nth-child(even) {
    background-color:plum;
}
tfoot{
    background-color:rgb(85, 52, 85);
    color: white;
    font-weight: bold;
}
    
tr:hover{
    background-color: lightskyblue;
}
tr > th:hover{
    background-color: salmon;
}
   